@import url(./rule.css);
.question-title {
  font-size: 1.6rem;
}
.q-list-wrapper {
  padding: 0rem;
  max-width: 45rem;
  margin: 2rem 0;
}
.q-list {
  color: var(--primary-color);
  border: 1px solid var(--primary-hover);
  border-radius: 20px;
  margin-bottom: 0.8rem;
  min-height: 4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: 0.2s all;
}
.q-list:hover {
  color: var(--text-white);
  background-color: var(--primary-hover);
}
.q-list label {
  margin: 0 1.5rem;
}
