@import url(./common.css);
@import url(./quiz.css);
@import url(/style.css);

 
.correct-ans{
    background-color: var(--correct-ans);
}

.wrong-ans{
    background-color: var(--wrong-ans);
}
.q-list{
    font-family: var(--small-text);
}